body {
  overflow-x: hidden;
  overflow-y: auto;

  .nav-wrapper {
    position: fixed;
    top: 0;
    background-color: transparent;
    height: 4rem;
    z-index: 99;

    .MuiToolbar-root {
      padding: 0 3rem !important;
    }
  }

  .main-wrapper {
    width: 100vw;
    // margin-top: 4rem;
  }

  .site-wrapper {
    padding: 0 4rem;
  }
}
