html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: auto;

  .nav-wrapper {
    position: fixed;
    top: 0;
    background-color: transparent;
    height: 4rem;
    z-index: 99;
    box-shadow: none;

    .MuiToolbar-root {
      padding: 0 3rem !important;
    }

    &.navigation {
      background-color: #fff;
      color: #2a2c74 !important;
      border-bottom: 1px solid #bcbcbc;
    }
  }

  .main-wrapper {
    width: 100vw;
    // margin-top: 4rem;
  }

  .site-wrapper {
    padding: 0 4rem;
  }
}
